nav {
  width: $nav-content-max-width;
  height: $nav-height;
  //   background-color: aqua;
  margin-top: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  color: #fff;
  border-bottom: #fff 2px solid;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-evenly;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: "gillThin", sans-serif;
    margin-left: 20px;
    // margin-right: 20px;
    padding-right: 20px;
    position: relative;
    left: 45%;
    border-right: 1px solid #79addc;
  }

  .logo {
    background-image: url(../images/logo/logo-white.png);
    max-width: 92px;
    height: 38px;
    position: relative;
    top: 30px;
  }
  .links {
  }
}
