//nav variables
$nav-content-max-width: 980px;
$nav-height: 92px;

// home variables
$home-content-max-width: 818px;

//image variables
$promo-tour-image-width: 236px;
$promo-tour-image-height: 304px;

//color variables
$button-bg-color: #79addc;
$footer-bg-color: #79addc;
$contact-form-bg-color: #f5f5f5;
$sale-banner-font-color: #ff7d38;
$site-black-text-color: #000000;
$site-white-text-color: #ffffff;
$input-border-color: #79addc;
